/EELT-7016_projeto2.code-workspace
/FROLSIdentification
/README.md
/gpols_v2
/narmax.ipynb
/octave-workspace
/testIdentifiedModel1.mat
/testIdentifiedModel10.mat
/testIdentifiedModel100.mat
/testIdentifiedModel10000.mat
/testIdentifiedModel100000.mat
/testIdentifiedModel1000000000.mat
/utils/EELT-7016_projeto2.code-workspace
/utils/__pycache__
/utils/.ipynb_checkpoints
